@model List<FoodDto>

@{
    int count = 1;
}
@section search
    {
    <form asp-action="List" asp-controller="IT">
        <div class="input-group">
            <input type="search" name="ITsearch" class="form-control" id="inlineFormInputGroup" placeholder="Search" autocomplete="off">
            <button class="btn btn-primary" type="submit"><i class="mdi mdi-arrow-right-thick"></i></button>
        </div>
    </form>
}
@{
    if (TempData["Create"] != null)
    {
        <div class="alert alert-success" role="alert">
            @((string)TempData["Create"])
        </div>
    }
    if (TempData["Delete"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @((string)TempData["Delete"])
        </div>
    }
    if (TempData["Warning"] != null)
    {
        <div class="alert alert-primary" role="alert">
            @((string)TempData["Warning"])
        </div>
    }
}

@if (Model != null)
{
    <div class="col-md equel-grid">
        <div class="grid">
            <div class="grid-body py-3">
                <p class="card-title ml-n1">Yemekler</p>
                <p class="card-title ml-n1"><a asp-action="Create" asp-controller="Food" asp-area="AdminPanel" class=" text-primary ">
                    Yeni Yemek elave et
                </a></p>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr class="solid-header">
                            <th>#</th>
                            <th>Yemek</th>
                            <th>Kateqoriya</th>
                            <th>Qiymet</th>
                            <th>Edviyyatlar</th>
                            <th>Edit(SuperAdmin)</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@count</td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.CatgeoryName
                                </td>
                                <td>
                                    @item.Price
                                </td>
                                <td style="width:50px">
                                    @item.Definition
                                </td>

                                <td>
                                    <a asp-action="Update" asp-controller="Food" asp-route-id="@item.Id" asp-area="AdminPanel">
                                        <i class="bi bi-pencil-square"></i></a>
                                    <a asp-action="Delete" asp-controller="Food" asp-route-id="@item.Id" asp-area="AdminPanel">
                                        <i class="bi bi-x-square"></i></a>
                                </td>
                            </tr>
                            count++;
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        Datalar tapilmadi.
    </div>
}